<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shenchao.mapper.CityMapper">

    <!-- 添加用户 -->
    <insert id="save" parameterType="com.shenchao.entity.City">
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            SELECT
            LAST_INSERT_ID()
        </selectKey>

        INSERT INTO city
        (state,name)
        VALUES(#{state},#{name})
    </insert>
    <delete id="testDelete" parameterType="int">
        DELETE FROM city WHERE id = ${id}
    </delete>
    <select id="findAll" resultType="com.shenchao.entity.City">
        SELECT * FROM city
    </select>
</mapper>
